@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
#adminPanel {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
  * {
    font-family: inherit;
  }
  .btn {
    font-size: 14px;
    &.btn-sm {
      font-size: 10px;
      padding: 1px 3px;
    }
  }
  aside {
    background-color: #3c4b64;
    color: rgba(225, 225, 225, 0.8);
    flex: 256px;
    transition: margin-left 300ms;
    &.opened {
      margin-left: 0;
    }
    &.closed {
      margin-left: -256px;
    }
    header {
      height: 60px;
      padding: 18px 20px;
      background-color: rgba(0, 0, 21, 0.2);
      font-family: "Roboto Condensed", sans-serif;
      h5 {
        text-transform: uppercase;
        font-weight: 400;
        color: rgba(225, 225, 225, 0.8);
        transition: color 300ms;
        &:hover {
          color: white;
        }
      }
    }
    ul {
      list-style: none;
      padding: 0 0 0 20px;
      overflow: hidden;
      li {
        padding: 7px 0;
        i {
          font-size: 15px;
          margin-right: 10px;
          position: relative;
        }
        a {
          color: inherit;
          font-size: 14px;
        }
      }
    }
  }
  main {
    flex: 100vw;
    min-height: calc(100vh - 60px);
  }
  nav {
    height: 60px;
    background-color: rgb(232, 232, 232);
    i {
      cursor: pointer;
    }
  }
}

table.table.posts {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: rgb(73, 73, 73);
  th,
  td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: normal;
    color: inherit;
    span.sub-title {
      font-size: inherit;
      font-weight: inherit;
    }
    &.title {
      width: 15%;
    }
    div.post-thumb {
      height: 120px;
      width: 150px;
      background-position: center;
      background-size: cover;
    }
    i {
      cursor: pointer;
      font-size: 14px;
      margin-right: 10px;
      &.icon-pencil {
        color: rgb(0, 67, 192);
      }
      &.icon-bin {
        color: rgb(211, 33, 93);
      }
      &.icon-eye {
        color: rgb(18, 167, 154);
      }
    }
  }
}
