@use "sass:map";
@import "bootstrap/bootstrap.scss";
@import "original";
@import "notifications";
@import "partials/slider";
@import "partials/spinner";
@import "partials/single-post";
@import "partials/footer";
@import "partials/header";
@import "partials/pre-purchase";
@import "partials/single-course";
@import "partials/cart-icon";
@import "partials/courses-widgets";

.invalid-feedback {
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

img {
  max-width: 100%;
}
.btn {
  margin: 0;
}

a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
  color: inherit;
}

input,
textarea,
select {
  font-family: $font-primary;
  font-size: 16px !important;
  border-radius: 0;

  &::placeholder {
    color: #aaa !important;
  }
}

button,
input[type="submit"] {
  text-transform: uppercase;
  border-radius: $border-radius-sm;
}

h1,
h2,
h3,
h4,
h5{
  color: $heading-color;
}

h6 {
  font-size: 18px; 
  text-transform: uppercase; 
  font-weight: bold; 
  color: #aaa;
  font-family: Karla, sans-serif;
}



#fh5co-services-section {
  .services {
    height: calc(100% - 60px);
  }
}
