@use "sass:map";
@import "bootstrap/bootstrap.scss";
@import "original";
@import "slider";

a {
  text-decoration: none;
}

input, textarea {
  font-family: $font-primary;
  font-size: 16px!important;
  border-radius: 0;
  &::placeholder {
    color: #aaa!important;
  }
}

button, input[type=submit] {
  text-transform: uppercase;
  border-radius: $border-radius-sm;
}

h1, h2 {
  color: $h1-color;
}

header.app-header {
  .user-tooltip {
    right: 50px;
    top: 50px;
    width: 135px;
    padding: 15px 0 5px 20px;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, .4);
    font-size: 16px;
    opacity: 0;
    transition: opacity 300ms;
    &.visible {
      opacity: 1;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        font-family: Karla;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 14px;
        transition: transform 100ms;
        &:hover {
          transform: translateX(4px);
          cursor: pointer;
          font-style: italic;
        }
      }
    }
  }
  i.icon-user {
    position: absolute;
    right: 80px;
    top: 22px;
    cursor: pointer;
  }
  a.fh5co-nav-toggle {
    top: 10px;
  }
}
