@use "sass:map";
@import "bootstrap/bootstrap.scss";
@import "original";
@import "notifications";
@import "slider";
@import "single-post";
@import "spinner";

a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
  color: inherit;
}

input,
textarea,
select {
  font-family: $font-primary;
  font-size: 16px !important;
  border-radius: 0;

  &::placeholder {
    color: #aaa !important;
  }
}

button,
input[type="submit"] {
  text-transform: uppercase;
  border-radius: $border-radius-sm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

header.app-header {
  .user-tooltip {
    right: 50px;
    top: 50px;
    width: 135px;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.4);
    font-size: 16px;
    opacity: 0;
    transition: opacity 300ms;
    z-index: 10;
    background-color: #fff;
    color: #222;

    &.visible {
      opacity: 1;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-family: Karla, sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        padding: 11px 10px;
        transition: background-color 300ms, transform 100ms;
        text-align: center;

        a {
          transition: none;
        }

        &:hover {
          cursor: pointer;
          background-color: #444;
          color: white;
        }
      }
    }
  }

  i.icon-user {
    position: absolute;
    right: 80px;
    top: 22px;
    cursor: pointer;
  }

  a.fh5co-nav-toggle {
    top: 10px;
  }
}

#fh5co-services-section {
  .services {
    height: calc(100% - 60px);
  }
}

.single-module {
  .image {
    height: 500px;
    background-position: center;
  }
  .back {
    cursor: pointer;
  }
}
